<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/bootstrap.bundle.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-success bg-gradient text-white">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/">
      <img src="/static/image/logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Knowledge Cluster
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/Cluster">Clusters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link rounded-pill text-success bg-light" href="/paper"><strong>Papers</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/scholar">Scholars</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Database
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">AAN</a></li>
            <li><a class="dropdown-item" href="#">MED</a></li>
            <li><a class="dropdown-item" href="#">DBLP</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled text-white" href="#" tabindex="-1" aria-disabled="true">About</a>
        </li>
      </ul>
      <form class="d-flex" action="/paper/list" method="post">
        <div class="form-control p-0 input-group">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><span id="modename">Paper</span></button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" onclick="switchmode('Paper')">Paper</a></li>
            <li><a class="dropdown-item" href="#" onclick="switchmode('Author')">Author</a></li>
          </ul>
          <input type="text" class="form-control" aria-label="Text input with dropdown button" id="query" name="query">
          <input hidden="hidden" type="text" class="mode" name="mode" value="Paper" id="mode">
        </div>
        <button class="btn btn-outline-success bg-light" type="submit">Search</button>

      </form>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-md-12">
    <div class="card mx-3">
      <div class="card-body">
        <h2 class="card-title"> <strong> {{ paper.title }}  </strong></h2>
        <h6 class="card-subtitle mb-2 text-muted"><span class="badge badge-pill bg-success"> {{ paper.database }} </span> {{ paper.paper_id }} </h6>
        {% for author in paper.authors %}
        <a href="/author/info/{{ author }}" class="text-decoration-none text-dark">{{ paper.authors[author] }}</a>,
        {% endfor %}
        <br /><br />
        <dl class="row">
          <dt class="col-sm-2">Publication Year</dt>
          <dd class="col-sm-10"> {{ paper.year }} </dd>

          <dt class="col-sm-2">Keywords</dt>
          <dd class="col-sm-10">
            {% for keyword in paper.keywords %}
            <a href="#" class="text-decoration-none text-muted">{{ paper.keywords[keyword] }}</a>;
            {% endfor %}
          </dd>

          <dt class="col-sm-2">Abstract</dt>
          <dd class="col-sm-10"> {{ paper.abstract }} </dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<div class="row m-3">
  <div class="card col-lg-8">
    <div class="card-body">
      <h4 class="card-title">Database</h4>
      <p>{{paper.database}}</p>
      <hr>
      <h4 class="card-title">References<span class="badge badge-pill bg-light text-dark"> {{ len_p_cits }} </span></h4>
      <ul>
        {% for p in p_cits %}
        <li>
          <a href="/paper/info/{{ p.paper_id }}" class="text-decoration-none text-dark">{{ p.title }}</a>
          <small class="text-secondary">
            {% for author in p.authors %}
            {{ p.authors[author] }},
            {% endfor %}
          </small>
          {{ p.year }}
        </li>
        {% endfor %}
      </ul>
      <hr>
      <h4 class="card-title">Cited Papers<span class="badge badge-pill bg-light text-dark"> {{ len_p_refs }} </span></h4>
      <ul>
        {% for p in p_refs %}
        <li>
          <a href="/paper/info/{{ p.paper_id }}" class="text-decoration-none text-dark">{{ p.title }}</a>
          <small class="text-secondary">
            {% for author in p.authors %}
            {{ p.authors[author] }},
            {% endfor %}
          </small>
          {{ p.year }}
        </li>
        {% endfor %}
      </ul>
      <hr>
      <h4 class="card-title">Recommended Papers</h4>
      <ul>
        {% for rec in recs_full %}
        <li><span class="badge badge-pill {% if paper.rec_sim[rec.n_id]*100 > 95 %}bg-success text-light{% elif paper.rec_sim[rec.n_id]*100 > 85 %}bg-primary text-light{% else %}bg-secondary text-light{% endif %}"> {{ "%.1f%%" | format(paper.rec_sim[rec.n_id]*100) }} </span>
          <a href="/paper/info/{{ rec.paper_id }}" class="text-decoration-none text-dark">{{ rec.title }}</a>
          <small class="text-secondary">
          {% for author in rec.authors %}
            {{ rec.authors[author] }},
          {% endfor %}
          </small>
          {{ rec.year }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="card text-center col-lg-4">
    <div class="card-header">Authors</div>
    <div class="card-body">
      {% for author in auths %}
      <div class="card mb-3 py-3">
        <div class="media d-flex">
        <img src="/static/image/globe1.svg" class="mr-3" style="width:100px">
        <div class="media-body w-100">
          <h4 class="mt-0"> <a href="/author/info/{{ author.n_id }}" class="text-decoration-none text-dark">{{ author.name }}</a> </h4>
          <h6 class="card-subtitle mb-2 text-muted"><span class="badge badge-pill bg-success"> {{ author.database }} </span> {{ author.n_id }} </h6>
          <div class="row align-content-center mx-2">
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill border-end border-0 text-center">Papers<br /> {{ author.paper_count }} </li>
            <li class="list-group-item flex-fill border-end border-0 text-center">Co-Aus<br /> {{ author.co_authors_count }} </li>
            <li class="list-group-item flex-fill border-0 text-center">Clusters<br /> {{ author.cluster_count }} </li>
          </ul>
        </div>
        </div>
      </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="card col-lg-8" style="height: 400px">
    <div id="container" style="height: 100%; width:100%"></div>
  </div>
</div>
<hr>
<div class="bg-secondary">
  <div class="p-4">
    <p class="lh-base text-center text-light"> Copywrite © 2021 WHUCity </p>
    <p class="lh-base text-center text-light"> School of Information Management, Wuhan University </p>
  </div>
</div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/extension/dataTool.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Uncomment this line if you want to use gl extension
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>
    -->
    <!-- Uncomment this line if you want to echarts-stat extension
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat@latest/dist/ecStat.min.js"></script>
    -->
    <!-- Uncomment this line if you want to use map
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/map/js/china.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/map/js/world.js"></script>
    -->
    <!-- Uncomment these two lines if you want to use bmap extension
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=<Your Key Here>"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/extension/bmap.min.js"></script>
    -->

    <script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
var option;
myChart.showLoading();
$.post('/graphdata/{{ paper.paper_id }}', function (webkitDep) {
    myChart.hideLoading();

    option = {
        legend: {
            data: webkitDep.legends
        },
        tooltip:{
          show: true,
          trigger: 'item',
          extraCssText:'margin:10px;white-space:pre-wrap',
          formatter: function(x) {
            if (x.data.title) {
              var title = x.data.title;
              var year = x.data.year;
              var cluster = x.data.cluster;
            }
            var name = x.data.name;
            // var dbname = x.data.dbname;
            var nodeType = x.data.type;
            if (nodeType == 'Paper') {
              return '<b>' + title + '</b><br /><i>' + year + '</i><br />Cluster:'+ cluster +'<span class="badge badge-pill bg-success">' + 'db' + '</span>'
            }
            else if(nodeType == 'Author'){
              return '<b>' + name + '</b><br />' + nodeType
            }
            else if(nodeType == 'Keyword'){
              return '<b>' + name + '</b><br />' + nodeType
            }
            else{

            }
          }
        },
        toolbox: {
          show: true,
          feature: {
            dataView: { show: true },
            dataZoom: { show: false },
            restore: { show: true },
            saveAsImage: { show: true },
            myFull: {
              show: true,
              title: '全屏查看',
              icon: 'image://https://vuejs.bootcss.com/images/logo.png',
              onclick: () => {
                const element = document.getElementById('container');
                // IE 10及以下ActiveXObject
                if (window.ActiveXObject) {
                  const WsShell = new ActiveXObject('WScript.Shell');
                  WsShell.SendKeys('{F11}');
                } else if (element.requestFullScreen) { // HTML W3C 提议
                  element.requestFullScreen();
                } else if (element.msRequestFullscreen) { // IE11
                  element.msRequestFullScreen();
                } else if (element.webkitRequestFullScreen) { // Webkit (works in Safari5.1 and Chrome 15)
                  element.webkitRequestFullScreen();
                } else if (element.mozRequestFullScreen) { // Firefox (works in nightly)
                  element.mozRequestFullScreen();
                }
              },
            },
          },
          top: -5,
        },
        backgroundColor: 'rgb(255,255,255)',
        series: [{
            type: 'graph',
            layout: 'force',
            label: {
                show: false,
                position: 'inside',
                formatter: '{b}'
            },
            zoom: 3,
            draggable: true,
            data: webkitDep.nodes,
            categories: webkitDep.categories,
            animation: false,
            roam: true,
            force: {
                edgeLength: 15,
                repulsion: 30,
                gravity: 0.1
            },
            cursor: 'pointer',
            lineStyle: {
              curveness: 0.3
            },
            emphasis: {
                      focus: 'adjacency',
                      lineStyle: {
                          width: 10
                      }
                  },
            edges: webkitDep.links
        }]
    };

    myChart.setOption(option);
    window.addEventListener("resize",function(){
        myChart.resize();
    })
});

if (option && typeof option === 'object') {
    myChart.setOption(option);
}

    </script>
</body>
<script>
  function switchmode(text) {
    $("#modename").html(text)
    $("#mode").val(text)
  }

</script>
</html>